*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build/
_build/
src/build/
*.log
target/

# don't commit (for now)
node_modules/

# the compiled bundle file
web/twinleaf-web-ui.min.js

# Don't ignore this file itself
!.gitignore
!.github/
